@import url("https://fonts.googleapis.com/css?family=Playfair+Display:900|Raleway:500,700");

html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: "Raleway", sans-serif;
    background-color: #850825;
    color: #fbccbf;
    background-image: url("../img/candy.png");
    background-size: 245px 380px;
    background-position: right top;
    background-repeat: repeat-y;
}


.container {
    width: 85%;
    margin: auto;
    background-color: #850825;
    padding-bottom: 60px;
}


h1 {
    font-family: "Playfair Display", serif;
    padding: 10px 20px;
    margin: 0;
    color: #fcba63;
}

.section-title {
    font-weight: 700;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    padding: 15px 20px;
    margin-top: 20px;
}


p {
    padding: 6px 20px;
    margin: 0;
}


table {
    background-color: #850825;
    margin: 10px 20px;
    border: 1px solid #fbccbf;
    border-spacing: 0;
    width: 95%;
}

th {
    text-transform: uppercase;
    text-align: left;
    font-size: 0.75em;
    letter-spacing: 0.2em;
    padding: 8px 10px;
    background-color: #fbccbf;
    color: #850825;
}

td {
    padding: 8px 10px;
    border-top: 1px solid #fbccbf;
}

a {
    color: #fbccbf;
    letter-spacing: 1px;
    font-weight: 600;
    text-decoration: none;
}

.button {
    background-color: #fbccbf;
    color: #850825;
    border-radius: 300px;
    padding: 10px 20px;
    display: inline-block;
    margin-top: 10px;
    font-weight: 600;
    letter-spacing: 1px;
    transition: 0.3s;
}

.button:hover {
    background-color: #fcba63;
    color: #850825;
}

.footer {
    background-color: #730720;
    padding: 12px;
    text-align: center;
    font-size: 14px;
    color: #fbccbf;
    position: fixed;
    bottom: 0;
    width: 100%;
}
